<div class="container">
  <div class="resume-section">
    <h3 class="header-text">Traditional Resume Checklist</h3>
    <h5>Resume Sections:</h5>
    <ul>
      <li>Name, Phone Number, Email, Location (City,State), Position Title</li>
      <li>Work Status (U.S. Citizen, Green Card Holder, Authorized to work in U.S. for any employer without
        sponsorship)
      </li>
      <li>Professional Summary (Around 1 page long)</li>
      <li>List of Technical Skills</li>
      <li>Certifications (if you have any)</li>
      <li>Experience</li>
      <ul>
        <li>Label area for position title, client name, client location, job duration</li>
        <li>Comprehensive list of responsibilities for each job description</li>
        <li>3 job experiences</li>
      </ul>
      <li>Location history → should be provided in month, year, city, state format (please include this separately on
        last page of your resume)
      </li>
      <li>Resume should be around 4-5 pages long</li>
    </ul>
    <h5>Final Resume Edit:</h5>
    <ul>
      <li>Make sure there is consistent formatting</li>
      <ul>
        <li>Check for consistent font, font size, font color, font bolding, font capitalization</li>
        <li>Check for consistent spacing</li>
      </ul>
      <li>Make sure resume is written in consistent tense</li>
      <ul>
        <li>Previous jobs should be written in past tense (you may also write your current position in past tense)</li>
      </ul>
      <li>Proper Capitalization of Technical Terms</li>
      <ul>
        <li>Refer to names of software on Google for proper capitalization of technical terms</li>
      </ul>
    </ul>
    <!--<p class="description-text">&nbsp;&nbsp;Resume is you. Please take your time to write good resume. You might spend at least one-->
    <!--week to get it ready. You can write example in one day and then every day you can check and ask how I can make it better.-->
    <!--Give to your peers for review. Always try to find good examples so you can take some ideas from it.</p>-->
  </div>
  <div class="resume-section">
    <h3 class="header-text">Cybertek Resume Checklist</h3>
    <h5>Resume Sections</h5>
    <ul>
      <li>Name, Phone Number, Email, Location (City,State), Position Title</li>
      <li>Work Status (U.S. Citizen, Green Card Holder, Authorized to work in U.S. for any employer without
        sponsorship)
      </li>
      <li>Professional Summary (Around half a page long)</li>
      <li>Education (School Name, degree earned, duration optional)</li>
      <li>Certifications (if you have any)</li>
      <li>List of Technical Skills</li>
      <li>Experience</li>
      <ul>
        <li>Include 2 projects conducted at Cybertek School</li>
        <ul>
          <li>Make sure to label “CO-OP” at the top of the description</li>
        </ul>
      </ul>
      <ul>
        <li>Any other previous job experience</li>
        <ul>
          <li>Comprehensive description for job responsibilities</li>
          <li>Label area for position title, client name, client location, job duration</li>
        </ul>
      </ul>
      <li>Resume should be around 2-3 pages long (but more if you have considerable real experience).</li>
    </ul>
    <h5>Final Resume Edit:</h5>
    <ul>
      <li>Make sure there is consistent formatting</li>
      <ul>
        <li>Check for consistent font, font size, font color, font bolding, font capitalization</li>
        <li>Check for consistent spacing</li>
      </ul>
      <li>Make sure resume is written in consistent tense</li>
      <ul>
        <li>Previous jobs should be written in past tense (you may also write your current position in past tense)</li>
      </ul>
      <li>Proper Capitalization of Technical Terms</li>
      <ul>
        <li>Refer to names of software on Google for proper capitalization of technical terms</li>
      </ul>
    </ul>
    <!--<p class="description-text">&nbsp;&nbsp;No matter how well written, your resume won't get a thorough reading the first time through.-->
    <!--Generally a resume gets scanned for 25 seconds. Scanning is more difficult if it is hard to read, poorly organized or exceeds two pages. Use a logical format and wide margins, clean type and clear headings.-->
    <!--Selectively apply bold and italic typeface that help guide the reader's eye. Use bullets to call attention to important points (i.e. accomplishments)</p>-->
  </div>
  <div class="resume-section">
    <p *ngIf="resume.status === 'empty'" class="form-description">Please upload your resume.We accept only word format(.docx). Cybertek Team will review
      it and send you back ready resume for the market(in some cases we might ask to resubmit)</p>
    <p *ngIf="resume.status === 'submitted'" class="form-description">You can resubmit your resume till is not
      reviewing</p>
    <p *ngIf="resume.status === 'reviewing'" class="form-description">Your resume is reviewing</p>
    <p *ngIf="resume.status === 'completed'" class="form-description">Your resume is completed! Best of luck on the
      market.</p>
    <app-upload *ngIf="resume.status === 'empty' || resume.status === 'submitted'"></app-upload>

    <p class="resume-bar" *ngIf="resume.status === 'submitted'">
      <ngb-progressbar type="success" [value]="40">submitted</ngb-progressbar>
    </p>
    <p class="resume-bar" *ngIf="resume.status === 'empty'">
      <ngb-progressbar type="success" [value]="0">Resume is not submitted</ngb-progressbar>
    </p>
    <p class="resume-bar" *ngIf="resume.status === 'reviewing'">
      <ngb-progressbar type="info" [value]="70">reviewing</ngb-progressbar>
    </p>
    <p class="resume-bar" *ngIf="resume.status === 'completed'">
      <ngb-progressbar type="success" [value]="100">completed</ngb-progressbar>
    </p>
    <div *ngIf="resume.status === 'completed'"><a href="{{resume.cybertek_resume}}">Download completed resume</a></div>
    <div *ngIf="resume.status === 'submitted'"><a href="{{resume.student_resume}}">Download submitted resume</a></div>
  </div>
  <div class="last-element"></div>
</div>
